<div class="c-about l-welcome__about py-5">
  <div class="container">
    <h2 class="fw-bold h1 mb-0 text-center">
      <%= t("messages.welcome.show.annict_features") %>
    </h2>

    <div class="align-items-center mt-5 row">
      <div class="col-12 col-sm-5">
        <div class="badge bg-primary rounded-3">
          <i class="display-5 far fa-check p-2"></i>
        </div>

        <h3 class="fw-bold h1 mt-3">
          记录所见的动画
        </h3>

        <p>
          不会再有「上次看到哪一话了？」，可以记录看过的动画。
          <br>
          留下当时的感想，未来可以回顾当时的感想与心情。
        </p>
      </div>

      <div class="col-12 col-sm-7">
        <%= image_tag asset_bundle_path("images/about/feature-1.jpg"), alt: "记录所见的动画", class: "img-fluid rounded-3" %>
      </div>
    </div>

    <div class="align-items-center mt-5 row">
      <div class="col-12 col-sm-5">
        <div class="badge bg-primary rounded-3">
          <i class="display-5 far fa-album-collection p-2"></i>
        </div>

        <h3 class="fw-bold h1 mt-3">
          管理动画观看状态
        </h3>

        <p>
          动画有「在看」「想看」「看过」「搁置」「抛弃」五种观看状态。
          <br>
          可以在资源库查看各观看状态的动画。
        </p>
      </div>

      <div class="col-12 col-sm-7">
        <%= image_tag asset_bundle_path("images/about/feature-2.jpg"), alt: "管理动画观看状态", class: "img-fluid rounded-3" %>
      </div>
    </div>

    <div class="align-items-center mt-5 row">
      <div class="col-12 col-sm-5">
        <div class="badge bg-primary rounded-3">
          <i class="display-5 far fa-users p-2"></i>
        </div>

        <h3 class="fw-bold h1 mt-3">
          朋友们都在看什么
        </h3>

        <p>
          关注其他 Annict 用户后，可以查看他们的观看记录。
          <br>
          模糊显示还没看过的动画、章节的记录，杜绝剧透。
          
        </p>
      </div>

      <div class="col-12 col-sm-7">
        <%= image_tag asset_bundle_path("images/about/feature-3.jpg"), alt: "朋友们都在看什么", class: "img-fluid rounded-3" %>
      </div>
    </div>

    <div class="align-items-center mt-5 row">
      <div class="col-12 col-sm-5">
        <div class="badge bg-primary rounded-3">
          <i class="display-5 far fa-calendar-alt p-2"></i>
        </div>

        <h3 class="fw-bold h1 mt-3">
          今晚都能看些什么动画
        </h3>

        <p>
          设置观看频道后，正在看的作品播出时间将可导入日历等其他方式查看。
        </p>
      </div>

      <div class="col-12 col-sm-7">
        <%= image_tag asset_bundle_path("images/about/feature-4.jpg"), alt: "今晚都能看些什么动画", class: "img-fluid rounded-3" %>
      </div>
    </div>

    <div class="align-items-center mt-5 row">
      <div class="col-12 col-sm-5">
        <div class="badge bg-primary rounded-3">
          <i class="display-5 far fa-brackets-curly p-2"></i>
        </div>

        <h3 class="fw-bold h1 mt-3">
          可以从 Web API 获取动画信息
        </h3>

        <p>
          Annict 公开了可以获取动画信息及观看历史等信息的 Web API。
          <br>
          可以使用 Web API 制作相关的应用程序、个性化的 Annict 客户端。
        </p>
      </div>

      <div class="col-12 col-sm-7">
        <%= image_tag asset_bundle_path("images/about/feature-5.jpg"), alt: "可以从 Web API 获取动画信息", class: "img-fluid rounded-3" %>
      </div>
    </div>
  </div>
</div>
